.main-layout {
  width: 100%;
  height: 100vh;
}

.header {
  padding: 1px;
  background-color: #282c34;
  color: 'white';
}

.menu-list {
  display: flex;
  gap: 1rem;
}

.menu-item {
  padding: 0.5rem;

  &:hover {
    background: #7193d8;
  }
}